.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: arial, sans-serif;
}

.home__header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
  font-family: arial, sans-serif;
}

.home__header a {
  text-decoration: inherit;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
  font-size: small;
  font-family: arial, sans-serif;
}

.home__header a:hover {
  text-decoration: underline;
}

.home__headerLeft {
  display: flex;
  align-items: center;
  font-family: arial, sans-serif;
}

.home__headerRight {
  display: flex;
  align-items: center;
  min-width: 13vw;
  justify-content: space-between;
  font-family: arial, sans-serif;
}

.home__headerRight > .MuiSvgIcon-root {
  margin-right: 20px;
}

.home__body {
  flex: 1;
  display: flex;
  margin-top: 10%;
  flex-direction: column;
  font-family: arial, sans-serif;
}

.home__body > img {
  object-fit: contain;
  height: 100px;
}

.home__footer {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid lightgray;
  background-color: #f2f2f2;
  color: #202124;
  font-family: arial, sans-serif;
}

.upper__footer {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #202124;
  font-family: arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home__footer a {
  text-decoration: inherit;
  margin-right: 20px;
  color: #202124;
  font-size: 14px;
  font-family: arial, sans-serif;
}

.home__footer a:hover {
  text-decoration: underline;
}

.home__footerLeft {
  display: flex;
  align-items: center;
  font-family: arial, sans-serif;
}

.home__footerRight {
  display: flex;
  align-items: center;
  min-width: 13vw;
  justify-content: space-between;
  font-family: arial, sans-serif;
}

@media only screen and (min-width: 635px) {
  .home__footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
